.cities {
  border-collapse: collapse;
  width: 700px;
  margin-top: 20px;
}

.cities th,
.cities td {
  padding: 8px 12px;
}

.cities th {
  background: #f9f9f9;
  text-align: left;
}

.first {
  background-color: #ccc;
}

tr {
  border-bottom: 1px solid #ccc;
}

.cities tbody tr:nth-child(even) {
  background: #ffffff;
}

.cities tbody tr:hover {
  background: #007BFF; /* синий фон при наведении */
  color: #fff;         /* белый текст */
  cursor: pointer;
}
