body {
  margin: 0;
  padding: 15%;
  display: grid;
  place-content: stretch;
  box-sizing: border-box;
  min-height: 100vh;
}

.grid {
  background: rgba(135, 207, 235, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background: ghostwhite;
  border: 2px dotted skyblue;
  font-size: 2.5rem;
}


/* Вторая колонка тянется по высоте: второй элемент занимает все доступные ряды */
.grid {
  grid-auto-rows: 100px; /* для наглядности фиксируем высоту авто-рядов */
}

.grid-cell:nth-child(2) {
  grid-column: 2;      /* во второй колонке */
  grid-row: 1 / -1;    /* растягиваем на все ряды */
}
